
<form id="formBeneficiario" method="post">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Cpf">Cpf:</label>
                <input required="required" type="text" class="form-control" id="Cpf_modal" name="Cpf" placeholder="Ex.: 000.000.000-00" maxlength="14">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome_modal" name="Nome" placeholder="Ex: Leonardo" maxlength="50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button> 
            </div>
        </div>
    </div>

</form>
